.panda-bg-info {
  background-color: rgb(233, 109, 233);
}
.categories img {
  width: 100px;
}
h2 {
  color: gray;
  font-size: 50px;
}
.panda-btn-buy-now {
  background-image: linear-gradient(to bottom, purple 0%, purple 100%);
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}
